.SignInUp {
	padding: 2.5rem 0 2.5rem;
}

#file {
	opacity: 0;
	width: 1px;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	filter: alpha(opacity=0);
	/* IE 5-7 */
}

.form-group input[type="radio"]+label:before,
.form-group input[type="checkbox"]+label:before {
	background-color: white;
	border: 1px solid #ffffff;
}

.site-content {
	position: relative;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.site-content:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100%;
}

.c-share-div {
	display: block;
	position: relative;
	width: 85%;
	margin: 0 auto;
}

.c-share-div h3 {
	margin: 0 0 1rem;
	padding: 0;
	display: block;
	color: #1F2929;
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 600;
	font-family: 'Figtree, Helvetica, sans-serif' !important;
}

.c-share-div form,
.c-share-div .copy-link-div {
	display: block;
	position: relative;
	background: #ffffffd4;
	box-shadow: 0 0 40px rgb(0 0 0 / 8%);
	border-radius: 10px;
	padding: 20px 30px;
}

.c-share-div .form-group {
	padding: 0;
	margin-bottom: 0.8rem;
}

.c-share-div .form-group label {
	margin: 0px 0 10px;
	font-size: 1rem;
}

.c-share-div .form-group .form-control {
	font-size: 1rem;
	background: #fafafa00;
}

.custom-control input[type="radio"],
.form-group input[type="checkbox"] {
	display: block;
	opacity: 0;
}

.custom-radio-btn input[type="radio"]+label::before {
	border-radius: 50px;
}

.custom-radio-btn .custom-control-input:checked~.custom-control-label:before {
	background: #05b3b4;
	width: 20px;
	height: 20px;
}

.custom-radio-btn .custom-control-input:checked~.custom-control-label::after {
	background-image: none;
}

.form-group input[type="radio"]+label a,
.form-group input[type="checkbox"]+label a {
	color: #0274be !important;
	text-decoration: none !important;
	font-weight: 400;
}

.choose-file-control .form-control::-webkit-file-upload-button {
	border: none;
	background: #05b3b4;
	color: #fff;
	height: 24px;
	border-radius: 4px;
	box-shadow: 5px 5px 10px 0px #0000002b;
	cursor: pointer;
}

@media screen and (max-width:767px) {
	.c-share-div form {
		padding: 25px;
	}
}

.rc-anchor-light {
	background: #f9f9f96e;
}

/* 11-08-2021 BDP */
.transfer {
	border-radius: 10px;
	/* box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%); */
	left: 5rem;
	transition: transform .5s cubic-bezier(.77, 0, .175, 1);
	/* width: 20rem; */
	z-index: 30;
	padding: 1rem;
	font-family: 'Figtree, Helvetica, sans-serif' !important;
}

.transfer .transfer_window {
	height: 100%;
}

.transfer .transfer_contents {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: 400;
	overflow: hidden;
}

.email-verification_contents {
	padding: .975rem .5rem 0;
	text-align: center;
}

.email-verification_lock {
	height: 5.8rem;
	margin-bottom: 0.9375rem;
	width: 5.9rem;
}

.email-verification_title {
	color: #17181a;
	font-size: 1.125rem;
	font-weight: 400;
	margin: 0 0 .3125rem;
}

.email-verification_body {
	color: #484a4d;
	font-size: .975rem;
	margin: 0 0 1rem;
	text-align: center;
}

.email-verification_body strong {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.email-verification_textfield {
	font-size: .975rem;
	margin: 0 0 .375rem;
}

.transfer .textarea,
.transfer .textfield {
	clear: both;
	color: #6a6d70;
	font-weight: 400;
	margin-top: .625em;
	position: relative;
}

.textarea--nolabel .textarea_field,
.textarea--nolabel .textfield_field,
.textfield--nolabel .textarea_field,
.textfield--nolabel .textfield_field {
	padding-top: 0;
}

.email-verification_textfield-input {
	color: #484a4d;
	font-size: .975rem;
	padding: .8rem !important;
	text-align: center;
	border: 3px solid #ffffff !important;
	background: none !important;
}

.transfer .textarea_field,
.transfer .textfield_field {
	background-color: #b5bcb85e !important;
	border: 0;
	border-radius: 50px !important;
	font-size: 1rem;
	font-weight: 400;
	left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	z-index: 2;
	max-width: 190px;
}

.email_verification_resend {
	background: none;
	border: 0;
	color: #6a6d70;
	cursor: pointer;
	font-size: .975rem;
	font-weight: 400;
	text-decoration: underline;
	padding: 0 20px !important;
	width: 100%;
}

.email_verification_resend:hover,
.email_verification_resend:focus {
	background: none;
	border: 0;
	color: #6a6d70;
}

.email-verification_footer.transfer_footer {
	border: 0;
}

.email-verification_submit-button.transfer_button {
	margin: 0;
	padding: 0;
}

.transfer .transfer_button--inactive,
.transfer .transfer_button--inactive:focus,
.transfer .transfer_button--inactive:hover {
	background: #babcbf;
	border-color: #babcbf;
	color: #fff;
	cursor: default;
}

.transfer .transfer_button {
	background: #409fff;
	border: 1px solid #409fff;
	border-radius: 1.25em;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 500;
	height: 2.5rem;
	outline: 0;
	transition: border-color .2s cubic-bezier(.77, 0, .175, 1), background-color .2s cubic-bezier(.77, 0, .175, 1), color .2s cubic-bezier(.77, 0, .175, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 9.75em;
}

.cshare_email_verify_model .modal-content {
	width: 100%;
	max-width: 23rem;
	min-width: 23rem;
	margin: auto;
}

.cshare_email_verify_model .modal-body {
	padding: 0 1.8rem 1.8rem;
}

.cshare_email_verify_model .btn{
	font-size: 1rem;
}

/* 11-08-2021 BDP */


.c-share-div .SelectBoxWrap span.select2.select2-container.select2-container--classic {
	border-bottom: none;
}

.c-share-div .SelectBoxWrap span.select2-selection.select2-selection--single {
	border: none;
	padding: 0.5rem 10px 0.6rem 10px;
	min-height: 30px;
	background: transparent !important;
	/* box-shadow: none !important; */
}

.c-share-div .SelectBoxWrap .select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 10px !important;
}

.c-share-div .SelectBoxWrap span.select2-selection.select2-selection--single .select2-selection__arrow {
	display: none;
	min-height: 20px;
}

.c-share-div .SelectBoxWrap span.select2-selection.select2-selection--single:after {
	content: "";
	background: url(../images/Arrow.svg) no-repeat 0 0 / 8px auto;
	width: 8px;
	height: 14px;
	display: block;
	border: 0;
	position: absolute;
	top: 55%;
	right: 2px;
	transform: rotate(-90deg);
	margin: -6px 2px 0 0;
	padding: 0;
	border-right: 0px !important;
	border-bottom: 0px !important;
	border-left: 0px !important;
}

.c-share-div .SelectBoxWrap .select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0px;
}

.c-share-div .SelectBoxWrap .select2-container--classic .select2-selection--single .select2-selection__rendered {
	line-height: 20px;
	color: #05b3b4;
	font-size: 14px !important;
}

.c-share-div .SelectBoxWrap .select2-results__option {
	padding: 6px 12px;
}

.c-share-div .SelectBoxWrap .select2-container--classic .select2-selection--single .select2-selection__placeholder {
	color: #05b3b4;
}

.c-share-div div.SelectBoxWrap {
	max-width: 240px;
	min-width: 160px;
}

.share_success_model .modal-content {
	border-top: 12px solid #05b3b4;
	border-bottom: 12px solid #05b3b4;
}

.share_success_model {
	padding-right: 0px !important;
}

.share_success_model h5 span {
	color: #000000;
}

.share_success_model .modal-dialog {
	margin-left: auto;
	max-width: 360px;
	margin-right: 2rem;
}

.share_success_model .modal-header {
	padding: 10px 15px;
}

.share_success_model .modal-header h3 {
	color: #000;
	font-weight: 600;
	font-size: 16px;
}


.share_success_model .modal-body {
	padding: 0px 15px 20px;
}

.share_success_model .modal-body h5 {
	font-size: 14px;
	color: #000;
}

@media screen and (max-width:355px) {
	.file-selection {
		display: block !important;
	}
}