@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap");

/* font-family: 'Figtree', sans-serif; */
* {
	font-family: "Figtree", sans-serif !important;
}

/* body {
	background-color: #2a2b2c !important;
} */

.navbar-brand {
	font-family: "Figtree", sans-serif;
}

.logo{
    color: #6c63ff;
}
.banner-img{
    height: 30rem;
    width: 40rem;
}

.logo-theme{
    color: #6c63ff !important;
}

.btn-theme{
    background-color: #6c63ff !important;
}

.img-hero{
    border-radius: 15px;
    padding: 0.8rem 1.3rem;
    background-color: #444444;
}

/* SWAL START */

.swal2-popup {
	display: block;
	width: 470px;
	padding: 20px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -235px;
	margin-top: -200px;
	overflow: hidden;
	z-index: 1060;
}

.swal2-icon {
	border: 4px solid;
	border-radius: 50%;
	margin: 10px auto 20px auto;
	padding: 0;
	position: relative;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.swal2-popup h2 {
	margin-top: 10px;
	font-size: 19px;
	text-align: center;
	display: block;
}

.swal2-actions {
	margin: 0 !important;
}

/* SWAL END */

/* DROPZONE START*/

.dropzone {
	position: relative !important;
	border: 3px dashed #eeeeee !important;
	min-height: 150px !important;
	border-radius: 2px !important;
	background-color: #fcfcfc !important;
	padding: 5px !important;
}

.dropzone .dz-message {
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}

.dropzone i.bi-file-earmark-arrow-up:before {
	width: 60px;
	height: 60px;
	background-image: url(../media/logos/server-grayicon.svg);
	content: "" !important;
	background-repeat: no-repeat;
}

.dropzone .dz-message h3 {
	margin-top: 10px;
}

/* DROPZONE END */

/* CHAT CSS START */

.chatByUser,
.usersList {
	max-height: 550px;
	min-height: 450px;
}

.groupChatBox .badge:empty {
	display: block !important;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

/* CHAT CSS END */

.landing-header {
	height: auto !important;
	padding: 5px 10px;
}

.Dashboard {
	background-color: #eff3f3 !important;
	height: 100%;
}
